Package: titan-plugin-swapnetwork-e2webserv
Architecture: sh4
Showname: titan-plugin-swapnetwork-e2webserv
Version: 1.1.9
Section: swapnetwork
Description: Enigma2 Web-API for Titan receiver.
Group: 0
Minversion: 0
Preinstalled: 0
Size: 253
Type: 1
Titanname: Enigma2 Web-API
