Package: titan-plugin-network-e2webserv
Architecture: sh4
Showname: Enigma2 Web-API
Version: <VERSION>
Section: network
Description: Enigma2 Web-API for Titan receiver.
Group: 0
Minversion: 0
Preinstalled: 0
Size: <PLUGIN_SIZE>
Type: 0
Titanname: Enigma2 Web-API
